
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


body
{
	margin: 0;
	padding: 0;
}




h1 {
	background: #BFCAC8;
	text-align: center;
}

nav {
	text-align: right;
	background: #BFCAC8;
	margin-left: 650px;
}

.container {
	display: flex;
	justify-content:center;
	flex-wrap: wrap;
	background: #BFCAC8;
	border: solid black 3px;
	border-radius: 30px;

	h2 {
		text-align: center;

	} 
	p {
		text-align: right;
		font-size: 15px;
	}

}